body {
    margin: 2em;
    background: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1.4vw;
}

#divtable {
    /* margin-top: 0px; */
    width: 75%;
    float: left;
    margin-left: 3%;
    /* background-color: darksalmon; */
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.4vw;
}

td {
    border: 1px solid;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#showExercise {
    float: left;
    width: 20%;
    /* background-color: darkgoldenrod; */
}

.exercises {
    height: 20px;
    width: 90%;
}

.number {
    width: 30% !important;
}

.b {
    font-weight: bold;
}